/* gameResult Section */
/* main Results diplay styling */
.gameResultContainer {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: $padding;
  background-color: #fdfdfd;
}

/* individual card result styling */
.gameCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 32rem;
  border: 1px solid $black;
  border-radius: $borderRadius;
  box-shadow: 5px 5px 15px $shading1;
  background-color: $white;
}
.gameImageContainer {
  width: 100%;
  height: 350px;
  border-bottom: 5px solid $primary1;
  position: relative;
}
.gameAvgRating {
  position: absolute;
  top: -15px;
  right: -10px;
  padding: 10px;
  background-color: $primary2;
  color: $white;
  border-radius: $borderRadius;
  z-index: 1;
}
.gameAvgRating p {
  font-size: 0.8rem;
}
.gameImageContainer img {
  width: 100%;
  height: 100%;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  object-fit: cover;
  opacity: 0.8;
}
.gameLineBreak {
  width: 60%;
  height: 2px;
  margin: 15px auto;
  background-color: $primary2;
}
.gameTextContainer {
  padding: 10px 15px;
  width: 100%;
  min-height: 200px;
}
.gameTitleContainer {
  height: 3.5rem;
  @include flexColumnCenterItems;
}
.gameTextContainer h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.gameTextContainer a,
.gameTextContainer a:visited {
  color: $black;
  text-decoration: none;
}
.gameTextContainer a:hover,
.gameTextContainer a:focus {
  text-decoration: underline;
}
.gameTitle {
  @include flexRowCenterItems;
}
.gameDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.gameDetailItem h5 {
  text-transform: capitalize;
}
.gameSmallText {
  font-size: 0.8rem;
}
//
//
//
.sortDropdown {
  display: none;
  height: 70px;
  background-color: $shading2;
  line-height: 70px;
}
.sortContent h4 {
  padding-left: 100px;
}
.sortContent {
  position: relative;
}
.sortContent ul {
  visibility: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  margin-left: 150px;
  background-color: $primary4;
  z-index: 10;
}
.lni {
  margin-left: 20px;
  transition: transform 0.5s;
  cursor: pointer;
}
.sortDropdown:hover .lni,
.sortDropdown:focus .lni {
  transform: rotate(-180deg);
}
.sortDropdown:hover .sortContent ul,
.sortDropdown:focus .sortContent ul {
  visibility: visible;
}
.sortDropdown li {
  margin-top: 5px;
  padding: 5px 300px 5px 60px;
  z-index: 5;
}
.sortDropdown li:hover,
.sortDropdown li:focus {
  background-color: $primary3;
  cursor: pointer;
}
//
//
@media screen and (max-width: 960px) {
  .gameResultContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 660px) {
  .gameResultContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .sortContent ul {
    margin-left: 40px;
  }
}
@media screen and (max-width: 480px) {
  @media screen and (max-width: 660px) {
    .gameResultContainer {
      grid-template-columns: 1fr;
    }
  }
}
@media screen and (max-width: 340px) {
  position: relative;
  height: 70px;
  background-color: $shading2;
  padding-left: 100px;
  line-height: 70px;
}
.sortContent {
  visibility: hidden;
  position: absolute;
  left: 150px;
  z-index: 10;
}
.sortDropdown:hover .sortContent {
  visibility: visible;
}
.sortDropdown ul {
  padding: 0;
  margin: 60px 0 0 0;
  list-style: none;
  background-color: $white;
  border-radius: $borderRadius;
}
.sortDropdown li {
  background-color: cadetblue;
  display: inline-block;
  padding: 5px 60px;
  z-index: 5;
}

.sortClearFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clearbtnContainer {
  padding-right: 100px;
}
