.headerImage {
  background-image: url("../assets/heroUnsplash.jpg");
  background-color: $primary2;
  height: 70vh;
  background-position: center;
  background-size: cover;
  position: relative;
  border-bottom: 2px solid $primary1;
}
.headerTextBox {
  @include flexRowCenterItems;
  justify-content: space-between;
  width: 65%;
  position: absolute;
  bottom: 40px;
  height: 130px;
  left: 0;
  right: 0;
  background: $primary4;
  border-radius: $borderRadius;
}
.lineBreak {
  width: 60%;
  height: 2px;
  margin: 15px auto;
  background-color: $primary2;
}

.headerTextBox span {
  letter-spacing: 40px;
  font-weight: 900;
}
.headerTextBox h1 {
  width: 40%;
  font-weight: 600;
  padding-left: 20px;
  text-transform: uppercase;
  line-height: 0.7;
}
.headerTextBox p {
  width: 25%;
  padding-right: 20px;
  text-align: right;
}
.lineBreak {
  width: 60%;
  height: 2px;
  margin: 15px auto;
  background-color: $primary2;
}

//
//media queries
@media screen and (max-width: 960px) {
  .headerImage {
    height: 300px;
  }
  .headerTextBox {
    @include flexColumnCenterItems;
    width: 85%;
    height: 150px;
  }
  .headerTextBox h1 {
    padding: 10px 0;
    line-height: 0.9;
    text-align: center;
    width: 100%;
  }
  .headerTextBox p {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .headerTextBox span {
    letter-spacing: 0;
  }
}
@media screen and (max-width: 480px) {
  .headerImage {
    background-image: url("../assets/heroUnsplashMobile.jpg");
  }
  .headerTextBox {
    height: 200px;
  }
}
@media screen and (max-width: 340px) {
  .headerTextBox {
    height: 225px;
  }
  .headerTextBox h1 {
    font-size: 2.4rem;
  }
}
