.searchContainer {
  background-color: $primary4;
  border-bottom: 2px solid $primary1;
}
.searchOptionsContainer {
  @include flexRowCenterItems;
  position: relative;
}
.searchStart {
  background-color: $primary1;
  position: absolute;
  top: 10px;
  left: 20px;
  padding-left: 1000px;
  margin-left: -1000px;
  border-radius: $borderRadius;
}
.searchStart h4 {
  text-transform: uppercase;
  color: $white;
  line-height: 70px;
  margin: 0;
  padding-right: $padding;
}
.searchStartForm {
  margin-top: 80px;
}
form {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr 1.7fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 25px;
  padding-bottom: 20px;
}
label {
  font-family: $mainFontSize;
  text-transform: capitalize;
  padding-top: 10px;
}
.searchDropdown {
  appearance: none;
  border: 1px solid $shading1;
  height: 40px;
  padding-left: 50px;
  background-image: url("../assets/angle-double-down.svg");
  background-size: $mainFontSize;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
  border-radius: $borderRadius;
  transition: all 0.3s;
}
input[type="submit"],
input[type="button"] {
  width: 80%;
  line-height: 1px;
  font-family: $headerFontType;
  font-size: $headingFontSize4;
  text-transform: uppercase;
  border: transparent;
  border-radius: $borderRadius;
  height: 55px;
  padding: 35px 45px;
  white-space: normal;
  word-wrap: break-word;
  transition: all 0.3s;
}
input[type="submit"] {
  background-color: $accent1;
  grid-area: 1 / 3 / span 4;
}
input[type="button"] {
  background-color: $shading1;
  grid-area: 4 /3 / span 4;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  @include buttonPress;
  background-color: $accent2;
}
input[type="button"]:hover,
input[type="button"]:focus {
  @include buttonPress;
  background-color: $primary3;
}
legend {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  visibility: hidden;
}
//
//
@media screen and (max-width: 1140px) {
  .searchStart {
    left: 60px;
  }
}
@media screen and (max-width: 960px) {
  label {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    visibility: hidden;
  }
  form {
    align-items: center;
    grid-template-columns: 1fr;
  }
  input[type="submit"] {
    width: 100%;
    grid-area: 6;
  }
  input[type="button"] {
    width: 100%;
    grid-area: 7;
  }
}
@media screen and (max-width: 660px) {
}
@media screen and (max-width: 480px) {
  .form {
    width: inherit;
    align-items: start;
  }
  .searchDropdown {
    width: 100%;
    justify-self: start;
  }
}
@media screen and (max-width: 340px) {
  .searchDropdown {
    // width: 300px;
  }
}
