// colours
$accent: #ff5757;
$primary1: #273349;
$primary2: #44587d;
$primary3: #5d7cb5;
$primary4: #f5f5ef;
$shading1: #cbcbcb;
$shading2: #e6e6e6;
$black: #171717;
$white: #ffffff;

$borderRadius: 15px;
$padding: 20px;
$margin: 20px;

$headingFontSize1: 3.5rem;
$headingFontSize2: 2.1rem;
$headingFontSize3: 1.6rem;
$headingFontSize4: 1.2rem;
$mainFontSize: 1rem;

$headerFontType: "Barlow", sans-serif;
$bodyFontType: "Roboto", sans-serif;

//general styling assignments

h1,
h2,
h3,
h4 {
  font-family: $headerFontType;
}
h1 {
  font-size: $headingFontSize1;
}
h2 {
  font-size: $headingFontSize2;
}
h3 {
  font-size: $headingFontSize3;
}
h4 {
  font-size: $headingFontSize4;
}

//mixins
@mixin flexRowCenterItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flexColumnCenterItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
