// colours
$accent: #ff5757;
$primary1: #273349;
$primary2: #44587d;
$primary3: #5d7cb5;
$primary4: #f5f5ef;
$shading1: #cbcbcb;
$shading2: #e6e6e6;
$black: #171717;
$white: #ffffff;

$border-radius: 15px;
$padding: 20px;
$margin: 20px;
$headerFontType: "Barlow", sans-serif;
$bodyFontType: "Roboto", sans-serif;
