@import "./setup";
@import "./variables";
@import "./gameResults";
@import "./header";
@import "./footer";
body {
  background-color: $white;
}
body {
  font-family: $bodyFontType;
}
.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: $padding;
}
.lineBreak {
  width: 60%;
  height: 2px;
  margin: 15px auto;
  background-color: $primary2;
}
/*  */
