html {
  font-size: 20px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.headerImage {
  background-image: url("../assets/hero-unsplash.jpg");
  background-color: #44587d;
  height: 70vh;
  background-position: center;
  background-size: cover;
  position: relative;
  border-bottom: 2px solid #273349;
}

.headerTextBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
  position: absolute;
  bottom: 40px;
  height: 130px;
  left: 0;
  right: 0;
  background: #f5f5ef;
  border-radius: 15px;
}

.lineBreak {
  width: 60%;
  height: 2px;
  margin: 15px auto;
  background-color: #44587d;
}

.headerTextBox span {
  letter-spacing: 40px;
  font-weight: 900;
}

.headerTextBox h1 {
  width: 40%;
  font-weight: 600;
  padding-left: 20px;
  text-transform: uppercase;
  line-height: 0.7;
}

.headerTextBox p {
  width: 25%;
  padding-right: 20px;
  text-align: right;
}

.lineBreak {
  width: 60%;
  height: 2px;
  margin: 15px auto;
  background-color: #44587d;
}

@media screen and (max-width: 660px) {
  .headerImage {
    height: 50vh;
  }
  .headerTextBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
    height: 150px;
  }
  .headerTextBox h1 {
    padding: 10px 0;
    line-height: 0.9;
    text-align: center;
    width: 100%;
  }
  .headerTextBox p {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .headerTextBox span {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 480px) {
  .headerTextBox {
    height: 200px;
  }
}

@media screen and (max-width: 340px) {
  .headerTextBox {
    height: 225px;
  }
  .headerTextBox h1 {
    font-size: 2.4rem;
  }
}

.robortSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #cbcbcb;
  min-height: 70vh;
}

.robortcontainer img {
  width: 84%;


@media screen and (max-width: 960px) {
  .robortSection {
    min-height: 15vh;
  }
  .robortContainer {
    height: 60%;
  }
  .robortContainer img {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .robortSection {
    min-height: 10vh;
  }
  .robortContainer {
    height: 40%;
  }
}

@media screen and (max-width: 480px) {
  .robortSection {
    display: none;
  }

}

.searchContainer {
  background-color: #f5f5ef;
  border-bottom: 2px solid #273349;
}

.searchOptionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.searchStart {
  background-color: #273349;
  position: absolute;
  top: 10px;
  left: 20px;
  padding-left: 1000px;
  margin-left: -1000px;
  border-radius: 15px;
}

.searchStart h4 {
  text-transform: uppercase;
  color: #ffffff;
  line-height: 70px;
  margin: 0;
  padding-right: 20px;
}

.searchStartForm {
  margin-top: 80px;
}

form {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1.7fr;
      grid-template-columns: 1fr 2fr 1.7fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-gap: 25px;
  padding-bottom: 20px;
}

label {
  font-family: 1rem;
  text-transform: capitalize;
  padding-top: 10px;
}

.searchDropdown {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #cbcbcb;
  height: 40px;
  padding-left: 50px;
  background-image: url("../assets/angle-double-down.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="submit"],
input[type="button"] {
  width: 80%;
  line-height: 1px;
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: transparent;
  border-radius: 15px;
  height: 55px;
  padding: 35px 45px;
  white-space: normal;
  word-wrap: break-word;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="submit"] {
  background-color: #ff5757;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: 1 / 3 / span 4;
}

input[type="button"] {
  background-color: #cbcbcb;
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: 4 /3 / span 4;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 5px 5px 15px #cbcbcb;
          box-shadow: 5px 5px 15px #cbcbcb;
  }


input[type="button"]:hover,
input[type="button"]:focus {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 5px 5px 15px #cbcbcb;
          box-shadow: 5px 5px 15px #cbcbcb;
  background-color: #5d7cb5;
}

legend {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  visibility: hidden;
}

@media screen and (max-width: 1140px) {
  .searchStart {
    left: 60px;
  }
}

@media screen and (max-width: 960px) {
  label {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    visibility: hidden;
  }
  form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  input[type="submit"] {
    width: 100%;
    -ms-grid-row: 6;
    grid-area: 6;
  }
  input[type="button"] {
    width: 100%;
    -ms-grid-row: 7;
    grid-area: 7;
  }
}

@media screen and (max-width: 480px) {
  .form {
    width: inherit;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .searchDropdown {
    width: 100%;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

/* gameResult Section */
/* main Results diplay styling */
.gameResultContainer {
  display: none;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 20px;
  background-color: #fdfdfd;
}

/* individual card result styling */
.gameCard {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32rem;
  border: 1px solid #171717;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px #cbcbcb;
          box-shadow: 5px 5px 15px #cbcbcb;
  background-color: #ffffff;
}

.gameImageContainer {
  width: 100%;
  height: 350px;
  border-bottom: 5px solid #273349;
  position: relative;
}

.gameAvgRating {
  position: absolute;
  top: -15px;
  right: -10px;
  padding: 10px;
  background-color: #44587d;
  color: #ffffff;
  border-radius: 15px;
  z-index: 1;
}

.gameAvgRating p {
  font-size: 0.8rem;
}

.gameImageContainer img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.gameLineBreak {
  width: 60%;
  height: 2px;
  margin: 15px auto;
  background-color: #44587d;
}

.gameTextContainer {
  padding: 10px 15px;
  width: 100%;
  min-height: 200px;
}

.gameTitleContainer {
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameTextContainer h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.gameTextContainer a,
.gameTextContainer a:visited {
  color: #171717;
  text-decoration: none;
}

.gameTextContainer a:hover,
.gameTextContainer a:focus {
  text-decoration: underline;
}

.gameTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.gameDetailItem h5 {
  text-transform: capitalize;
}

.gameSmallText {
  font-size: 0.8rem;
}


.sortDropdown {
  display: none;
  height: 70px;
  background-color: #e6e6e6;
  line-height: 70px;
}

.sortContent h4 {
  padding-left: 100px;
}

.sortContent {
  position: relative;
}

.sortContent ul {
  visibility: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  margin-left: 150px;
  background-color: #f5f5ef;
  z-index: 10;
}

.lni {
  margin-left: 20px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
}

.sortDropdown:hover .lni,
.sortDropdown:focus .lni {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sortDropdown:hover .sortContent ul,
.sortDropdown:focus .sortContent ul {
  visibility: visible;
}

.sortDropdown li {
  margin-top: 5px;
  padding: 5px 300px 5px 60px;
  z-index: 5;
}

.sortDropdown li:hover,
.sortDropdown li:focus {
  background-color: #5d7cb5;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .gameResultContainer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 660px) {
  .gameResultContainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .sortContent ul {
    margin-left: 40px;
  }
}

@media screen and (max-width: 480px) and (max-width: 660px) {
  .gameResultContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }


.sortDropdown {
  position: relative;
  height: 70px;
  background-color: #e6e6e6;
  padding-left: 100px;
  line-height: 70px;
}

.sortContent {
  visibility: hidden;
  position: absolute;
  left: 150px;
  z-index: 10;
}

.sortDropdown:hover .sortContent {
  visibility: visible;
}

.sortDropdown ul {
  padding: 0;
  margin: 60px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-radius: 15px;
}

.sortDropdown li {
  background-color: cadetblue;
  display: inline-block;
  padding: 5px 60px;
  z-index: 5;
}

.sortClearFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clearbtnContainer {
  padding-right: 100px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #44587d;
  border-top: 5px solid #273349;
}

.footerImage {
  width: 68%;
}

.footerImage img {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.footerText {
  width: 32%;
  padding-left: 40px;
  color: #ffffff;
  line-height: 40px;
}

.footerText h3 {
  padding-bottom: 20px;
  text-transform: uppercase;
}

.footerText h3:nth-child(4) {
  padding-top: 40px;
}

.footerTextSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-align: start;
      -ms-flex-align: start;

}

.footerText p {
  padding-left: 20px;
}

.footerTextSocial a {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0 10px;
}

.footerText img {
  height: 40px;
}

@media screen and (max-width: 960px) {
  .footerImage {
    width: 40%;
  }
  .footerText {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .footerImage {
    display: none;
  }
  .footerText {
    padding: 40px;
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .footerText h3,
  .footerTextSocial a {
    font-size: 1rem;
    padding: 0;
  }
  .footerTextSocial .lni {
    margin-left: 15px;
  }
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px;
}

.wrapperTopBottom {
  padding-top: 80px;
  padding-bottom: 80px;
}

/*  */
.returnToTop {
  visibility: none;
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #ff5757;
  padding: 15px;
  border-radius: 15px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.returnToTop img {
  width: 30px;
}

.returnToTop:hover,
.returnToTop:focus {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 5px 5px 15px #cbcbcb;
          box-shadow: 5px 5px 15px #cbcbcb;
  opacity: 1;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1400px) {
  .lineBreak {
    width: 25%;
  }
}

@media screen and (max-width: 1140px) {
  .lineBreak {
    width: 10%;
  }
}

@media screen and (max-width: 960px) {
  .lineBreak {
    display: none;
  }
}
